:root{

--bg:#111111;
--panel:#202020;

--text:#f2f2f2;
--muted:#c2c2c2;

--cyan:#88c0d0;
--green:#b5bd89;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:var(--bg);

font-family:"IBM Plex Mono", monospace;

color:var(--text);

line-height:1.7;
}

a{

color:var(--cyan);
}

.container{

max-width:1280px;

margin:auto;

padding:1.2rem;
}

.terminal-header{

display:flex;

align-items:center;

gap:2rem;

margin-bottom:1.5rem;
}

.prompt{

background:var(--green);

color:black;

padding:.5rem .8rem;

font-weight:500;
}

.terminal-header nav{

display:flex;

gap:1.5rem;
}

.layout{

display:grid;

grid-template-columns:
1fr 280px;

gap:1.5rem;
}

.content{

background:var(--panel);

padding:1.2rem;
}

.content h1{

font-size:2rem;

margin-bottom:1.5rem;
}

.post{

margin-bottom:3rem;
}

.post h2{

font-size:1.8rem;

font-weight:500;

margin-bottom:.25rem;
}

.post h2::before{

content:"# ";

color:#777;
}

.meta{

margin-bottom:1.5rem;

font-size:1rem;
}

.post p{

font-size:1rem;
}

.sidebar{

padding-top:.25rem;
}

.brand{

display:flex;

align-items:center;

gap:.6rem;

font-size:1.8rem;

margin-bottom:1rem;
}

.emoji{

font-size:1.4rem;
}

.sidebar p{

color:var(--muted);

margin-bottom:1.5rem;
}

.icons{

display:flex;

gap:1rem;

margin-bottom:2rem;
}

.divider{

color:#999;

margin-bottom:2rem;
}

@media(max-width:900px){

.layout{

grid-template-columns:1fr;
}

.sidebar{

margin-top:2rem;
}
}